@import "utils"

.hidden
	display: none
img
	max-width: 100%
html
	background: #1d1d1d
a
	color: #2D8CDF
#infscr-loading
	@include loader(15%)
#home
	margin: 0 auto
	padding: 0
#m_nav
	width: 100%
	margin: 0
	font-size: 120px
	.banner
		height: 180px
		line-height: 180px
		text-align: center
	.b1
		background-color: #555
		@include text-shadow-title-black
	.b2
		background-color: #3DACE0
		@include text-shadow-title-black
	.b3
		background-color: #C1FF7D
		@include text-shadow-title-black
	.b4
		background-color: #EA8072
		@include text-shadow-title-black
#m_nav_back
	width:  100%
	position: fixed
	top: 0
	background: rgba(0,0,0,0.5)
	@include text-shadow-content-white
	font-size: 18px
	height: 35px
	text-align: center
	line-height: 35px
	z-index: 90
#m_flash
	width:  100%
	position: fixed
	top: 0
	background: rgb(0,153,247)
	@include text-shadow-content-white
	font-size: 18px
	height: 35px
	text-align: center
	line-height: 35px
	z-index: 99