#word_modal.hide.modal.fade
	.modal-header
		%button.close(type="button" data-dismiss="modal")
			×
		%h3
			新建生词
	.modal-body
		= form_tag '/members/sign_in',:id=>"login_form" do
			%p
				%input(type="text" name="word" id="word" placeholder="输入单词")
	.modal-footer
		%a.btn.btn-primary(href="#" onclick="insert_word();")
			提交
#wrap
	#new_word
		%span.btn(onclick="$('#word_modal').modal();")
			+生词
	%table.table
		%tr
			%th
				单词
			%th
				发音
			%th
				解释
		- VoteSubject.words.each do |w|
			%tr
				%td
					= link_to w.title,DICT_SOURCE[:english]+w.title
				%td
					%i.icon-headphones
					%audio{:src => DICT_SOURCE[:english_v]+w.title}
				%td
					= w.vote_fields.first.content
