# See http://help.github.com/ignore-files/ for more about ignoring 
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3

/db/dump.rdb
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
/config/database.yml
/config/service.yml
/public/assets