#magic_images_modal
	.provider-tip
		images from your
		= %w{instagram tumblr}.join(' & ')
		%a.cog{:href => setting_path + "#provider"}
			%i.icon-cog
		[ tips: esc / ← / → ]
	.images_wrap
		.images
		
