#magic_images_modal
	.provider-tip
		images from your
		= %w{instagram tumblr}.join(' & ')
		%a.cog{:href => setting_path + "#provider"}
			%i.icon-cog
		[ tips: esc / ← / → ]
		%span.badge			
	.images_wrap
		.error
			= image_tag('icon/omg.png')
			ooh! no images yet
		.images.tallys
			%i.icon-spinner.icon-spin
