#course_catelog	
	#official
		.c-title.tallys
			= "« #{course_index_title} »"
		.c-container
			- if current_member
				= render 'course_list',:c_user => current_member,:courses => @courses
			- else
				= render 'course_list',:courses => @courses