#footer
	%span
		= link_to "17up","/home/info"
		Copyright © 2012-forever
	.tool
		%a(href="https://mixpanel.com/f/partner")
			%img(src="https://cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics")