#footer
	%span.serif
		= link_to "17up",info_path
		by
		= link_to "veggie",$config[:blog_host]
		Copyright © 2012-forever
	.tool
		%a(href="https://mixpanel.com/f/partner")
			%img(src="https://cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics")
- if flash[:notice]
	#flash.notice.hide
		= flash[:notice]