#flash_message
	- if flash.keys.blank?
		.alert.hide
			%button(type="button" class="close" data-dismiss="alert")
				%span.icon-remove-circle
			%strong
	- else	
		- flash.keys.each do |key|
			.alert{:class => "alert-#{key}"}
				%button(type="button" class="close" data-dismiss="alert")
					%span.icon-remove-circle
				%strong= flash[key]