#header_contain
	#title
		%span
			17up
			= @subtitle
		- if @leafs and params[:pid]
			%span.tag
				&raquo;
				= Provider.find(params[:pid]).user_name
	- if current_member
		#author
			%a(href="/admin" target="blank")
				veggie
				%i.icon-chevron-right