#info	
	#imagine
		%h2
			My Song & My Story
		.topic
			%span
				Love of my life
	#contact
		%h2
			联络
		.topic
			%span
				Email: kkxlkkxllb@gmail.com
	#people
		%h2
			致敬
		.topic
			%span
				ZARD • Queen