#impress
	#greet.step(data-x="0" data-y="0" data-scale="1")
		%span
			欢迎来到 17up 
	#contact.step.text_center(data-x="0" data-y="900" data-z="1500"  data-scale="1")
		- $contact.each do |k,v|
			= contact_img_link "icon/#{k}_big.png",v,k.to_s
		%p
			= mail_to $config[:email],$config[:email]
	#thank.step.text_center(data-x="0" data-y="1800" data-z="3000"  data-scale="1")
		%a.button.glossy.pink.skew(href="#" data-icon="✿")
			ZARD
		%a.button.serif.glass.blue.skew(href="#" data-icon="♛")
			Queen