#info	
	#greet.step
		%span
			来自
			= @info
			的朋友，欢迎来到这里（＾◇＾）
	#contact
		%a.button.glass.green.xs(href="https://twitter.com/He_Art_Me" target="blank" data-icon=" ")
			@He_Art_Me
	#look
		%a.button.glossy.pink.skew(href="#" data-icon="✿")
			ZARD
		%a.button.serif.glass.blue.skew(href="#" data-icon="♛")
			Queen