#impress
	#greet.step(data-x="0" data-y="0" data-scale="3")
		%span
			来自
			= @info
			的朋友，欢迎来到这里
	#contact.step.text_center(data-x="0" data-y="-600"  data-scale="2")
		%a.button.glass.green.round(href="https://twitter.com/He_Art_Me" target="blank" data-icon=" ")
			@He_Art_Me
	#look.step.text_center(data-x="0" data-y="-1000"  data-scale="1")
		%a.button.glossy.pink.skew(href="#" data-icon="✿")
			ZARD
		%a.button.serif.glass.blue.skew(href="#" data-icon="♛")
			Queen