@import "utils"

#new_word_tag_modal
	form
		width: 360px
		margin: 0 auto
		padding-bottom: 10px
		input#tags
			margin: 0
	#tags_area
		padding-top: 10px
		span
			margin: 5px
			cursor: pointer
.magic
	width: 100%
	height: 100%
	background: transparent
	left: 0
	top: 0
	margin: 0
	.modal-header
		background: #fff
	.modal-body
		height: 100%
		max-height: 100%
		padding: 0
		background: #eee
		overflow: auto
	a.more
		display: block
		padding: 5px
		text-align: center
	.images	
		img
			cursor: pointer
			margin: 5px
			@include shadow(0px,1px,3px,rgba(0,0,0,.3))
			width: 100px
			height: 90px
#magic_images_modal.show
	@include transform(translateY(7px))
#magic_images_modal
	background: #FCFFEB
	@include round(10px)
	margin: 0 auto
	width: 770px
	padding: 0 10px
	height: 158px	
	overflow-y: hidden
	position: relative
	z-index: 999
	@include shadow(0,2px,5px,#333)
	@include transform(translateY(-700px))
	@include transition(0.8s,ease-out)
	.provider-tip
		padding: 8px 10px
		color: #111
		border-bottom: 1px solid #B4FF81
		font-size: 16px
		position: relative
		a.cog
			color: #0bf
		span.badge
			position: absolute
			right: 10px
	.images_wrap
		border-top: 1px solid #aaa
		overflow-x: hidden
		position: relative
		.error
			display: none
		.images		
			padding: 10px 0
			position: relative
			text-align: center
			font-size: 40px
			line-height: 90px	
			color: #0bf	
			img.pic
				cursor: pointer
				margin: 5px
				@include shadow(0px,1px,3px,rgba(0,0,0,.3))
				width: 100px
				height: 90px
				@include transition(0.25s)
				&:hover
					@include transform(scale(1.1))
