#new_word_tag_modal
	form
		width: 360px
		margin: 0 auto
		padding-bottom: 10px
		input#tags
			margin: 0
	#tags_area
		padding-top: 10px
		span
			margin: 5px
			cursor: pointer
#editor_magic
	a.more
		display: block
		padding: 5px
		text-align: center
	.images_wrap
		.pic
			float: left
			margin: 1px
			cursor: pointer
			border: 1px solid #DDD
			img
				width: 100px
				height: 90px
#magic_images_modal
	.errors
		display: none
	.images
		img
			width: 100px
			height: 90px