= content_for :head do
	#m_nav
		.banner.b1
			17up
		.banner.b2.menu(rel = "en")
			英语
		.banner.b3.menu(rel = "weibo")
			微博
		.banner.b4.menu
			投票
	#m_nav_back.hidden
		点我返回
	#m_flash.hidden
#home
%nav.pagination
	%a{:href => mobile_t_path(:page => '2')}