= content_for :head do
	#m_nav
		.banner.b1
			17up
		.banner.b2
			生词
		.banner.b3(rel = "weibo")
			微博
		.banner.b4
			投票
	#m_nav_back.hide
		Menu
#home
%nav.pagination
	%a(href="/mobile/mweibo?page=2")