= content_for :head do
	#m_nav
		.banner.b1.tallys.menu(rel = "member")
			17up
		.banner.b2.menu(rel = "weibo")
			花园
		.banner.b3.menu(rel = "word")
			学院
	#m_nav_back.hidden
		点我返回
	#m_flash.hidden
#home

