.word_item{:class => w.ctags }
	%a.itag(href="#" rel="tooltip" onclick="insert_tags($(this));return false;"){:title => w.hash_tags,:wid => w.id}
		%i.icon-tag
	%a(onclick="audio_play($(this));return false;" href="#")
		%i.icon-headphones
		%audio{:src => w.source_voice}
	%a(target = "blank"){:href => w.source_link}
		%i.icon-info-sign		
	%span.title
		= w.title		
	%span.content
		= w.content