.word_item{:class => w.ctags }
	%a.itag(href="#"){:wid => w.id}
		%i.icon-plus
	%a{:href => $pic_search + w.title }(target = "blank")
		%i.icon-picture
	%a.audio(href="#")
		%i.icon-headphones
		%audio{:src => w.source_voice}
	%a{:href => w.source_link }(target = "blank")
		%i.icon-info-sign		
	%span.title
		= w.title		
	%span.content
		= w.content
	%span.ctags
		= w.hash_tags