#wrap
	#new_word
		= form_tag words_path,:remote => true do
			%input(type="search" name="word" id="word" placeholder="输入单词" required="required" autocomplete="off" disableautocomplete )
			%i.icon-plus(onclick="$(this).submit();")
			%span.hide
				%i.icon-refresh
	%table.table
		%tr
			%th
				单词
			%th
				发音
			%th
				解释
		- @words.each do |w|
			= render 'word',:w => w
