#library
	- if @admin
		#new_word
			= form_tag '/words/create',:remote => true do
				%input(type="search" name="word" id="word" placeholder="输入单词" required="required" autocomplete="off" disableautocomplete )
		= render 'modal/new_word_tag'
	#course_catelog
		- @courses.each do |c|
			= c['title']
	#course_wrap
