#wrap
	#new_word
		#input_tip_modal.hide
		= form_tag words_path,:remote => true do
			%input(type="text" name="word" id="word" placeholder="输入单词" required="required" autocomplete="off" disableautocomplete)
	%table.table
		%tr
			%th
				删除
			%th
				单词
				= @words.count
			%th
				发音
			%th
				解释
		- @words.each do |w|
			= render 'word',:w => w
