- if @new_image
	var $current = $("#impress .step.active");
	if($current.find('.me').length == 1){
		$current.find('.me img').attr("src","#{@new_image}");
	}else
		$("span.img",$current).first().after("<span class='img me'><img src='#{@new_image}' ></span>");
	Utils.flash("#{t('flash.notice.image')}",'info','left');
- else
	Utils.flash("#{t('flash.error.image')}",'error','right');