@mixin round($dist)
	-moz-border-radius: $dist
	-webkit-border-radius: $dist
	border-radius: $dist
	
@mixin shadow($x,$y,$r,$color)
	-moz-box-shadow: $x $y $r $color
	-webkit-box-shadow: $x $y $r $color
	box-shadow: $x $y $r $color

@mixin inset-shadow($x,$y,$r,$color)
	-moz-box-shadow: inset $x $y $r $color
	-webkit-box-shadow: inset $x $y $r $color
	box-shadow: inset $x $y $r $color
	
@mixin glass
	border: 1px solid rgba(0,0,0,0.5)
	box-shadow: 0 2px 8px rgba(0,0,0,0.5),inset 0 1px rgba(255,255,255,0.3),inset 0 10px rgba(255,255,255,0.2),inset 0 10px 20px rgba(255,255,255,0.25),inset 0 -15px 30px rgba(0,0,0,0.3)
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.5),inset 0 1px rgba(255,255,255,0.3),inset 0 10px rgba(255,255,255,0.2),inset 0 10px 20px rgba(255,255,255,0.25),inset 0 -15px 30px rgba(0,0,0,0.3)
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.5),inset 0 1px rgba(255,255,255,0.3),inset 0 10px rgba(255,255,255,0.2),inset 0 10px 20px rgba(255,255,255,0.25),inset 0 -15px 30px rgba(0,0,0,0.3)
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.5),inset 0 1px rgba(255,255,255,0.3),inset 0 10px rgba(255,255,255,0.2),inset 0 10px 20px rgba(255,255,255,0.25),inset 0 -15px 30px rgba(0,0,0,0.3)
	
@mixin transition($span)
	-webkit-transition: all $span linear
	-moz-transition: all $span linear
	-o-transition: all $span linear
	transition: all $span linear
	
@mixin transition-masonry
	-webkit-transition-duration: 0.7s
	-moz-transition-duration: 0.7s
	-o-transition-duration: 0.7s
	transition-duration: 0.7s
	-webkit-transition-property: height, width
	-moz-transition-property: height, width
	-o-transition-property: height, width
	transition-property: height, width
	
@mixin transition-masonry-brick
	-webkit-transition-duration: 0.7s
	-moz-transition-duration: 0.7s
	-o-transition-duration: 0.7s
	transition-duration: 0.7s
	-webkit-transition-property: left, right, top
	-moz-transition-property: left, right, top
	-o-transition-property: left, right, top
	transition-property: left, right, top
	
@mixin menu($lh,$padx,$pady,$blc,$brc,$hc)
	ul
		margin: 0
		height: $lh
		li
			list-style: none
			line-height: $lh
			float: left
			padding: $padx $pady
			border-left: 1px solid $blc
			border-right: 1px solid $brc
		li.action
			cursor: pointer
			&:hover
				background: $hc
			
@mixin loader($left)
	text-align: center
	z-index: 100
	position: fixed
	left: $left
	bottom: 40px
	width: 200px
	padding: 10px
	background: black
	opacity: 0.8
	color: white
	@include round(10px)
	
@mixin text-shadow-title-black
	color: black
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125)

@mixin text-shadow-content-white
	color: white
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
	
@mixin text-shadow-field
	color: white
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000