@import "utils"

@include font-face("Tallys","/font/Tallys/Tallys")
@include font-face('Lobster',"/font/Lobster/Lobster",400)

.zangti
	font-family: "Tallys","Microsoft YaHei", sans-serif

a img, img
	border: none
	vertical-align: middle

a
	text-decoration: none
	color: #5185bc
	&:hover
		color: #3e6a9a
		text-decoration: none
.pagination
	height: 0px
	margin: 0
.pagination a
	border: 0
.text_center
	text-align: center

.text_right
	text-align: right

.left
	float: left

.right
	float: right

.as_link
	cursor: pointer

.disable_event
	pointer-events: none
.w1000
	width: 1000px
	margin: 0 auto
.round
	@include round(8px)

.my_shadow
	@include shadow(0px,6px,10px,#5e5e5e)
#flash_message
	.alert
		margin: 8px 20px