@import "utils"

.clearfix
  &:after
    visibility: hidden
    display: block
    font-size: 0
    content: " "
    clear: both
    height: 0
  display: block

html[xmlns] .clearfix
  display: block

* .clearfix
  height: 1%

a img, img
  border: none
  vertical-align: middle

a
  text-decoration: none

.pagination
  height: 0px
  margin: 0
.pagination	a
  border: 0
.text_center
  text-align: center

.text_right
  text-align: right

.left
  float: left

.right
  float: right

.as_link
  cursor: pointer

.round
  @include round(8px)

.my_shadow
  @include shadow(0px,6px,10px,#5e5e5e)
body
  margin: 0
  padding: 0
  line-height: 18px
  font-size: 13px
label
  display: inline-block