@import "utils"
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700)

.dancer
	font-family: "Dancing Script", cursive
	
html.home
	height: 100%
	@include radial-gradient(50% 50%,circle cover,#9dcce1,#52a2c8)
	body
		background-color: transparent 
#infscr-loading
	@include loader(45%)

.masonry
	@include transition-masonry
	.masonry-brick
		@include transition-masonry-brick
#footer
	text-align: center
	color: #171717
	font-size: 16px
	.tool
		padding: 20px

#main
	width: 100%
	#index_wrap
		height: 300px
		position: relative
		.step
			text-align: center
			@include text-shadow-inverse
			span.icon-circle-arrow-up
				position: absolute
				top: -5px
				left: 48%
		#register
			img
				margin: 5px
			span.login_tip
				@include text-shadow-inverse
				font-size: 20px
				margin-top: 20px