@import "utils"

#infscr-loading
	@include loader(45%)
body
	background: #9fecfc
.masonry
	@include transition-masonry
	.masonry-brick
		@include transition-masonry-brick

#header
	width: 100%
	height: 40px
	background: #2c2c2c
	border-bottom: 1px solid #ddd
	#header_contain
		width: 1000px
		height: 100%
		margin: 0 auto
		#author
			float: right
			line-height: 40px
			a
				color: #999
				text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
				text-decoration: none
				&:hover
					color: white
		#tag
			line-height: 40px
			float: left
			a
				color: white
		#title
			float: left
			width: 200px
			font-weight: bold
			@include text-shadow-title-black
			@include transition(.2s)
			span
				display: inline-block
				font-size: 20px
				line-height: 40px
				&.logo img
					padding: 0
					width: 30px
					height: 30px
#menu
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	background: #444
	@include text-shadow-content-white
	@include menu(30px,0,10px,#666,#1d1d1d,#333)
#main
	width: 100%
	border-top: 1px solid #288AC9
#home
	margin: 0 auto
	padding: 20px 0 40px 0
	.leaf
		width: 200px
		margin: 5px
		border: 1px solid #2F96D1	
		background: #3DACE0
		opacity: 0
		@include shadow(0,1px,3px,rgba(0,0,0,.3))
		span.action
			position: absolute
			cursor: pointer
			background: #3DACE0
			border: 1px solid #2F96D1
			width: 18px
			height: 18px
			line-height: 18px
			text-align: center
			@include text-shadow-content-white
			@include round(18px)
			@include shadow(0,1px,2px,rgba(0,0,0,.3))
		span.destroy		
			right: 90px
			top: -10px		
		span.edit
			top: -10px
			right: 65px
		.info
			padding: 3px
			background: #4AC0EE
			border-bottom: 1px solid #2F96D1		
			span
				display: inline-block
			span.avatar	
				margin-right: 5px
				img
					width: 25px
					height: 25px
			span.name
				text-shadow: 0 -1px 0 #288AC9
				line-height: 25px
				a
					color: #f5f5f5
			span.time
				color: #2F96D1
				font-size: 12px
				line-height: 25px
		.content
			border-top: 1px solid #81C9EB
			text-shadow: 0 -1px 0 #288AC9
			color: white
			padding: 3px 5px
			a
				text-shadow: none
		.img
			padding: 3px
			text-align: center
			min-height: 50px
#user_list
	margin: 0 auto
	padding: 20px 0
	.user_item
		width: 180px
		margin: 5px
		border: 1px solid #2F96D1	
		background: #3DACE0
		opacity: 0
		@include shadow(2px,2px,4px,rgba(0,0,0,.3))
		position: relative
		.avatar
			z-index: 1
			img
				width: 180px
		.name
			position: absolute
			z-index: 2
			top: 0
			padding: 5px
			background: rgba(0,0,0,.5)
			@include text-shadow-content-white