#info
	width: 1000px
	margin: 0 auto
	h2
		color: white
	.step
		font-size: 20px
		line-height: 50px 
	#imagine
		font-size: 13px
	.topic
		position: relative
		height: 50px
		line-height: 50px
		font-size: 20px
		span
			position: absolute
			left: 0px
			opacity: 0
