@import "utils"

#login_contain
	width: 800px
	margin: 0 auto
	padding: 20px 0
	.title
		padding-bottom: 10px
		font-size: 16px
		text-align: center
	#login_form
		padding: 20px
		background: #fefefe
		@include inset-shadow(0,2px,5px,#ccc)
		@include round(15px)
	#register_form
		width: 400px
		margin-left: 20px
		padding: 20px
		background: #fff
		@include inset-shadow(0,2px,5px,#ccc)
		@include round(15px)
		.register
			text-align: center
#user_home
	.greet
		text-align: center
		font-size: 80px
		line-height: 120px
#user_setting
	