@import "utils"

#login_contain
	width: 800px
	margin: 0 auto
	padding: 20px 0
	.title
		padding-bottom: 10px
		font-size: 16px
		text-align: center
	#login_form
		padding: 20px
		background: white url(/assets/img/back_pattern/back_pattern.png)
		@include inset-shadow(0,2px,5px,#999)
		@include round(15px)
	#register_form
		width: 400px
		margin-left: 20px
		padding: 20px
		background: white url(/assets/img/back_pattern/back_pattern.png)
		@include inset-shadow(0,2px,5px,#999)
		@include round(15px)
		.register
			text-align: center
			margin-top: 10px
#user_home
	#ground
		margin: 0 auto 10px
		.word_item
			opacity: 0
#user_setting
	margin-top: 40px
	.providers
		padding: 10px 0
		.item
			padding: 5px
			margin: 0 5px
			border: 2px dashed #999
			img
				width: 64px
				height: 64px
		.binded
			border: 2px solid transparent
	#profile
		.avatar
			width: 120px
			height: 100px
			padding: 5px
			border: 2px dashed #999
			position: relative
			text-align: center
			img
				width: 64px
				height: 64px
			.name
				width: 120px
				line-height: 30px
				position: absolute
				bottom: 0
				text-align: center