// Place all the styles related to the olive controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#olive
	input
		margin: 0
		width: 110px
	.item
		float: left
		margin: 1px
		background: white
		padding: 4px
		img
			width: 140px
			height: 120px
		&.select
			background: #B94A48