@import "utils"
#wrap
	width: 1000px
	margin: 0 auto
	margin-bottom: 40px
	#new_word
		width: 300px
		margin: 20px auto
		position: relative
		i.icon-plus,i.icon-refresh
			position: absolute
			right: 12px
			top: 7px
		input
			margin: 0
			padding: 5px
			width: 280px
	#word_ground
		width: 100%
		.word_item
			margin: 5px
			width: 180px
			background: #666
			color: #fff
			border: 1px solid #333
			span.title
				font-weight: bold
				padding: 3px
				display: block
			span.content
				display: block
				padding: 3px