@import "utils"
#wrap
	margin-bottom: 40px	
	#new_word
		width: 300px
		margin: 20px auto
		position: relative
		input
			margin: 0
			padding: 5px
			width: 280px
	.banner_wrap
		padding: 10px 20px
		@include linear-gradient(45deg, #C3F83B,#f5f5f5)
		.banner_title
			font-size: 20px
			margin: 0
		
	#word_nav
		padding: 10px 20px
		background: #303335
		border-left: 5px solid #5BF
	#word_ground
		padding: 10px
		.word_item
			margin: 5px
			width: 188px
			background: #666
			@include text-shadow-content-white
			border: 1px solid #444
			position: relative
			opacity: 0
			@include shadow(0,1px,3px,rgba(0,0,0,.3))
			a
				color: #999
				&:hover
					color: #fff
			i
				position: absolute
				top: 3px
			i.icon-info-sign				
				right: 5px				
			i.icon-headphones
				right: 20px
			i.icon-picture
				right: 38px
			i.icon-share
				right: 56px
			a.itag
				color: #eee
				position: absolute
				right: 16px
				bottom: 25px
				&:hover
					color: #fff
			span
				padding: 3px 10px
				display: block
			span.title								
				border-bottom: 1px solid #333
			span.content
				border-top: 1px solid #999
			span.ctags
				height: 20px
				border-top: 1px solid #444
				background-color: #5BF
				font-weight: bold
				font-family: serif