.cpanel
	%span.btn.btn-danger.publish
		%i.icon-share
		发布
	%input(type="text" placeholder="请输入标签" name="tag")
	%span.btn.btn-success(rel="tag")
		提交
	%input(type="text" placeholder="请输入地点" name="location")
	%span.btn.btn-success(rel="location")
		提交
	%span.btn.btn-success(rel="pop")
		Popular
.result-container.clearfix
