.page-header
	%h1
		= s.capitalize
	.cpanel
		%input{:rel => s}(type="text" placeholder="请输入标签" name="tag")
		%span.btn.tag
			提交
		%input{:rel => s}(type="text" placeholder="请输入地点" name="location")
		%span.btn.locate
			提交
		%span.btn.pop
			Popular
.result-container.clearfix
