.original
	%audio{:data => source}
.custom
	.header-tip
		录音
	.record
		%a.btn(href="#record")
			%i.icon-circle
			%i.icon-spinner.icon-spin
	.record-play
		%audio.output(src = '')
		%a.btn.disabled.btn-success(href="#play")
			%i.icon-play

		