.wrap.clearfix
	.item.custom.active
		.record.active
			%a.button(href="#record" title="录制你自己的发音" data-icon=" ")
				%i.icon-circle
				%i.icon-spinner.icon-spin
		.record-play.active.hide
			%audio.output(src = '')
			%a(href="#play")
				▶