#start.step{:cid => c["id"]}(data-y= "0" data-z= "0"  data-x="0" data-scale="1")
	%h1.title.tallys
		= c["title"]		
	%p
		= c["word_cnt"]
		words
	%p
		= c["ctags"]
	%p.dancer.description
		= c["description"]
			
	
			