#user_home
	- if @can_add_tag
		#new_word.hide
			= form_tag '/words/create',:remote => true do
				%input(type="search" name="word" id="word" placeholder="输入单词" required="required" autocomplete="off" disableautocomplete )
		= render "games/allen"
	#ground
		- @u_words.each do |w|
			.word_item
				%span.word.button.glossy.pink.oval(data-icon=" ")
					= w.title 
