#user_home
	.greet
		%span
			校舍在建中...

	#wrapper.sleep
		#monster
			.eye
				.lid
			.eye
				.lid
			#mouth
		= audio_tag("ohh.mp3",:id => "audio-ohh",:preload => "preload")
		= audio_tag("snap.mp3",:id => "audio-snap",:preload => "preload")
