#user_home
	.greet
		%span
			校舍在建中...

	#wrapper.sleep
		#monster
			.eye
				.lid
			.eye
				.lid
			#mouth
		%audio#audio-ohh(preload = "preload" src="audios/ohh.mp3")
		%audio#audio-snap(preload = "preload" src="audios/snap.mp3")
