#user_home
	.greet
		%span
			校舍在建中...
	#wrapper.sleep
		#monster
			.eye
				.lid
			.eye
				.lid
			#mouth

%audio(id="audio-ohh" preload="preload" src="/audio/ohh.mp3")
%audio(id="audio-snap" preload="preload" src="/audio/snap.mp3")
